name: "userconfig"
etcd_address: "127.0.0.1:2379"   #etcd地址
#user服务的相关配置
url: "127.0.0.1:9000"
service_name: "user"


jwt:
  jwt_expire: 8760  #验证过期时间

mysql:
  host: 127.0.0.1  #主机名
  port: 13306   #端口
  user: "root"   #用户名
  password: "123456"  #密码
  database: "douyin"   #数据库名
  charset: "utf8mb4"
  parsetime: true
  loc: "Local"

redis:
  host: localhost    #主机名
  port: 16379     #端口
  password: ""   #密码
  db: 0
  pool_size: 100   #连接池大小
  min_idle_conns: 5  #连接池冲最少保持多少个连接
  redis_expire: 168